body {
  background-color: #264566;
  height: 2000px;
}

h1 {
  text-align: center;
  color: #329e7a;
}

#y-axis path {
  stroke: none;
}

#x-axis path, #x-axis line {
  stroke: #ededed;
}

#x-axis text, #y-axis text {
  fill: #ededed;
  font-size: 14px;
}

.axis-label {
  font-size: 20px;
  fill: #329e7a;
}

#legend text {
  fill: #ededed;
  font-size: 10px;
}

#description {
  fill: #ededed;
  font-size: 20px;
}

#tooltip {
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  position: absolute;
  text-align: left;
  font-size: 15px;
  color: #000000;
  background: #ededed;
}